*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
body{
    background: #121214; 
    
    padding: 72px 104px;

    display: grid;
    justify-content: center;
}
:root{
    font-family: 'Mulish',sans-serif;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 370px);

    gap: 48px 60px;

}

header h1{
    font-weight: 900;
    font-size: 56px;
    line-height: 72px;
    color: #02799D;

    
}
header p {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    color: #C4C4CC;
    margin-bottom: 62px;
    
}

.card{
    background-color: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    
    /* "OVERFLOW:HIDDEN;",ENCAIXE DE IMAGEM DENTRO DO CARD */
    overflow: hidden;

}
.card h2{
    font-size: 36px ;
    font-weight: 900;

    color: #E1E1E6;

    padding: 24px 32px 0 ;
    


}
.card p{
    font-size: 18px;
    font-weight: 600;

    color: #C4C4CC;

    padding: 24px 32px 32px;


}